# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.sum

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
# go.work

# The database configuration file
db.json

# Ignore the logfile
*.log

# Ignore the certificate
*.crt
*.pem

# Ignore the secret information
*/jwtSecret.json
*/admin.json
*/apiKey.jwt
*/create_admin_user_pwd.sh
*/filled_database.sql

# Ignore testing
*/testing/*

# Ignore resources
resources/*